

    <p>Deneme</p>
    <p>Merhaba @ViewBag.Name</p>
    <p>
        @if (ViewBag.Hour >= 12)
        {
            <span>İyi günler</span>
        }
        else
        {
            <span>Günaydın!</span>
        }
    </p>
    <p>
        Davetimize yanıt için <a href="/Home/UserResponse">tıklayın</a>
    </p>
