@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Ürünlerimiz burada!</p>
</div>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <partial name="_productCard" model="product"/>
        </div>

    }
</div>

@section Scripts{


    <script>
        $(document).ready(function(){
            console.log('jquery çalışıyor ')
            $('.basket').on('click',function(){
                let id = $(this).data('id');
                console.log(id);
                $.ajax({
                    url: '/ShoppingCard/AddProduct/'+id,
                    method:'GET',
                    success: function(data){
                        console.log(data);
                        console.log('sepete eklendi');
                    },
                    error: function(err){
                        console.log(err);
                    }


                });
            });
        });
    </script>
}