@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p>Ürünlerimiz burada!</p>
</div>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <partial name="_productCard" model="product"/>
        </div>

    }
</div>

